{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "overrides": [
        {
            "files": ["src/**/*.{js,jsx,ts,tsx}"],
            "rules": {
                "@typescript-eslint/ban-ts-comment": "off",
                "@typescript-eslint" : "off",
                "@typescript-eslint/no-var-requires": "off",
                "react/no-unescaped-entities": "off",
                "@next/next/no-page-custom-font": "off"
            }
        }
    ],
    "env": {
        "node": true,
        "browser": true,
        "amd": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint"
    ]
}
