@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

// .chakra-ui-light {
//     --background: 251,251,253;
//     --secondBackground: 255,255,255;
//     --text: 10,18,30;
//     --textSecondary: 255,255,255;
//     --primary: 22,115,255; 
//     --secondary: 10,18,30;
//     --tertiary: 231,241,251;
//     --cardBackground: 255,255,255;
//     --inputBackground: 255,255,255;
//     --navbarBackground: 255,255,255;
//     --modalBackground: 251,251,253;
//     --errorColor: 207,34,46;
//     --logoColor: #243A5A;
//   }
  
//   .chakra-ui-dark {
//     --background: 26,32,44;
//     --secondBackground: 45,55,72;
//     --text: 237,237,238;
//     --textSecondary: 255,255,255;
//     --primary: 22,115,255; 
//     --secondary: 10,18,30;
//     --tertiary: 231,241,251;
//     --cardBackground: 45,55,72;
//     --inputBackground: 45,55,72;
//     --navbarBackground: 45,55,72;
//     --modalBackground: 26,32,44;
//     --errorColor: 207,34,46;
//     --logoColor: #fff;
//   }
  
  :root {
    --font: 'Public Sans', sans-serif;
    
    --shadow-md: 0 2px 4px 0 rgb(12 0 46 / 4%);
    --shadow-lg: 0 10px 14px 0 rgb(12 0 46 / 6%);
  
    --z-sticky: 7777;
    --z-navbar: 8888;
    --z-drawer: 9999;
    --z-modal: 9999;
  }
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none!important;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  } 
  
  html {
    -webkit-font-smoothing: antialiased;
    touch-action: manipulation;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font-size: 62.5%;
  
    @media (max-width: 37.5em) {
      font-size: 50%;
    }
  
    @media (max-width: 48.0625em) {
      font-size: 55%;
    }
  
    @media (max-width: 56.25em) {
      font-size: 60%;
    }
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--font);
    color: rgb(var(--text));
    background: rgb(var(--background));
    font-feature-settings: "kern";
  }
  
  svg {
    color: rgb(var(--text));
  }
  .lines {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgba(0,0,0,0.2)
}

.line:nth-child(1) {
    left: 16.6666667%
}

.line:nth-child(2) {
    left: calc(100% - (16.6666667% * 4))
}

.line:nth-child(3) {
    left: calc(100% - (16.6666667% * 3))
}

.line:nth-child(4) {
    left: calc(100% - (16.6666667% * 2))
}

.line:nth-child(5) {
    left: calc(100% - (16.6666667% * 1))
}


// @media (max-width: 480px) {
//     .line:nth-child(2) {
//         left:290rem
//     }

//     .line:nth-child(3) {
//         left: 459rem
//     }
// }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  
  }
  section.horizontal {
    overflow-x: hidden;
  }
  
//   section {
//     width: 100%;
//     height: 100%;
//     position: relative;
//     overflow-y: hidden;
//   }
//   iframe {
//       pointer-events: none;
//       width: 100vw;
//       height: 56.25vw;
//       min-height: 100vh;
//       min-width: 178.77vh;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       -webkit-transform: translate(-50%, -50%);
//       transform: translate(-50%, -50%);
//   }
  section.horizontal {
    overflow-x: hidden;
  }
  
//   section.horizontal .pin-wrap,
//   section.horizontal .animation-wrap {
//       display: flex;
//       position: relative;
//       z-index: 1;  
//       height: 100vh;
      
//   }
  
  
  
//   section.horizontal .toadVideoWrapper__infoInner {
//     position: relative;
//     height: 100%;
//     max-width: 50vw;
//     display: -webkit-flex;
//     display: flex;
//     -webkit-align-items: center;
//     align-items: center;
//     line-height: 1.7;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     background-color: transparent;
//     font-size: 3rem;
//     font-weight: bold;
//   }

//   .videoWrapperInfoBox{
//     width: 100vw;
//     display: flex;
//     -webkit-flex-flow: column;
//     flex-flow: column;
//     height: 100%;
//     -webkit-justify-content: center;
//     justify-content: center;
//     flex-direction: row;
//     align-items: center;
//   }
  
//   section.horizontal .toadVideoWrapper__infoInner:before {
//       position: absolute;
//       font-size: 3rem;
//       opacity: .13;
//       font-weight: bold;    
//       z-index: -1;
//       -webkit-transform: translate(-30px, -50px);
//       transform: translate(-30px, -50px);
//       line-height: 1;
//   }
  
  
  
  
//   section.horizontal .animation-wrap.to-right {
//       counter-reset: toadVideoWrapper__infoInner;
//       float: left;
//   }
  
//   section.horizontal .animation-wrap.to-left {
//       counter-reset: toadVideoWrapper__infoInner 11;
//       float: right; 
//   }
  
//   section.horizontal .animation-wrap.to-right .toadVideoWrapper__infoInner:before {
//       counter-increment: toadVideoWrapper__infoInner;
//       content: counter(toadVideoWrapper__infoInner);
//   }
  
//   section.horizontal .animation-wrap.to-left .toadVideoWrapper__infoInner:before {
//       counter-increment: toadVideoWrapper__infoInner -1;
//       content: counter(toadVideoWrapper__infoInner);
//   }
  
  
  
//   section.horizontal .animation-wrap .toadVideoWrapper__infoInner:nth-child(2n+2) {
//       align-items: flex-start;
//   }
  
//   section.horizontal .animation-wrap .toadVideoWrapper__infoInner:nth-child(4n+4) {
//       align-items: flex-end;
//   }

  .relative {
      position: relative;
  }
  .absolute {
      position: absolute;
  }
  .overflow {
      overflow: hidden;
  }
  .appWrapper {
    width: 100%;
    top: 0;
    min-height: 100vh
  }
  .toadVideo {
      overflow: hidden;
  }

  .toadVideoWrapper {
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      height: 100vh;
  }
  .toadVideo iframe {
        pointer-events: none;
        width: 100vw;
        height: 56.25vw;
        min-height: 100vh;
        min-width: 178.77vh;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  }
  .toadVideoWrapper__info {
      display: flex;
      z-index: 10;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 100vw;
  }
  .toadVideoWrapper__infoBox {
    // position: relative;
    font-weight: 800;
    font-style: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 900px) {
    .toadVideoWrapper__infoBox {
        font-size:70rem;
        line-height: 70rem
    }
    .toadVideoWrapper__infoTitle {
        font-size:70rem;
        line-height: 70rem
    }
  }
  @media (max-width: 480px) {
    .toadVideoWrapper__infoBox {
        font-size:56rem;
        line-height: 56rem;
        width:200vw
    }
    // .toadVideoWrapper__infoBox:last-child{
    //     width:116vw
    // }
    .toadVideoWrapper__infoTitle {
        font-size:56rem;
        line-height: 56rem
      }
  }
  @media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .toadVideoWrapper__infoBox {
        font-size:68rem;
        line-height: 68rem;
        width:100vw
    }
    // .toadVideoWrapper__infoBox:last-child{
    //     width:100vw
    // }
    .toadVideoWrapper__infoTitle {
        font-size:68rem;
        line-height: 68rem
    }

  }
  .toadVideoWrapper__infoInner {
    // margin-left: 130rem;
    opacity: 0;
    -webkit-transition: opacity 1s cubic-bezier(0.45, 0.01, 0.07, 1);
    transition: opacity 1s cubic-bezier(0.45, 0.01, 0.07, 1)
  }
  .toadVideoWrapper__infoInner.active {
    opacity: 1
  }
  .toadVideoWrapper__infoNum {
    margin-bottom: 2rem;
    // font-size: 32rem;
    // line-height: 38rem
  }
  @media (max-width: 1500px) {
    .toadVideoWrapper__infoNum {
        font-size:3rem;
        // line-height: 34rem
    }
  }
  .toadVideoWrapper__infoTitle {
    font-size: 7rem;
    max-width: 70rem;
    color: black;
    // line-height: 80rem
  }
  html.has-scroll-smooth {
    overflow: hidden
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.has-scroll-smooth body {
    overflow: hidden
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh
}

[data-scroll-direction=horizontal] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap
}

[data-scroll-direction=horizontal] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    -webkit-transition: opacity .3s,-webkit-transform .3s;
    transition: opacity .3s,-webkit-transform .3s;
    transition: transform .3s,opacity .3s;
    transition: transform .3s,opacity .3s,-webkit-transform .3s;
    opacity: 0
}

.c-scrollbar:hover {
    -webkit-transform: scaleX(1.45);
    transform: scaleX(1.45)
}

.c-scrollbar:hover,.has-scroll-dragging .c-scrollbar,.has-scroll-scrolling .c-scrollbar {
    opacity: 1
}

[data-scroll-direction=horizontal] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
    -webkit-transform: scaleY(1.3);
    transform: scaleY(1.3)
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    opacity: .5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
    right: auto;
    bottom: 0
}
  .toadVideo__circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 14rem;
    height: 14rem;
    z-index: 50;
    position: absolute;
    bottom: 5rem;
    right: 2rem;
    border-radius: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  @media (max-width: 1500px) {
    .toadVideo__circle {
        right:2rem;
        bottom: 5rem
    }
}

@media (max-width: 1100px) {
    .toadVideo__circle {
        right:2rem
    }
}

@media (max-width: 480px) {
    .toadVideo__circle {
        right: 2rem;
        bottom: 5rem;
        width: 14rem;
        height: 14rem;
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .toadVideo__circle {
        right: 2rem;
        bottom: 5rem;
        width: 14rem;
        height: 14rem;
    }
}

.hp-video__circle__counter {
    gap: 2rem;
    display: flex;
}

@media (max-width: 480px) {
    .hp-video__circle__counter {
        -webkit-box-align:baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        gap: 2rem
    }
}
.hp-video__circle__current {
    font-size: large;
    font-weight: bold;
}

.progress {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
    left: 0
}

.progress__circle__current {
    stroke: #3B4BDD;
    fill: none;
    stroke-width: 6
}

.progress__circle {
    stroke-width: 1;
    stroke: #BEBEBE;
    fill: none
}
.intro, .intro__inner, .intro__inner__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.intro {
    margin-bottom: -10rem;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
@media (max-width: 1500px) {
    .intro {
        margin-bottom:-36.5vh
    }
}

@media (max-width: 480px) {
    .intro {
        margin-bottom:-310rem
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .intro {
        margin-bottom:-188rem;
        max-width: 918rem
    }
}
.over {
    z-index: 10
}
.intro__inner__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5rem;
    width: 100%
}

@media (max-width: 1500px) {
    .intro__inner__wrapper {
        gap:3rem
    }
}

@media (max-width: 480px) {
    .intro__inner__wrapper {
        -webkit-box-orient:vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        gap: 0
    }
}
.intro__title b, .intro__title strong {
    -webkit-transition: background-color 477ms ease-in-out, color 477ms ease-in-out, opacity 477ms ease-in-out, fill 477ms ease-in-out, stroke 477ms ease-in-out, border-color 477ms ease-in-out;
    transition: background-color 477ms ease-in-out, color 477ms ease-in-out, opacity 477ms ease-in-out, fill 477ms ease-in-out, stroke 477ms ease-in-out, border-color 477ms ease-in-out

}
.intro__title {
    line-height: 0;
    max-width: 900rem;
    width: 100%
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .intro__title {
        max-width:800rem
    }
}

.intro__title b,.intro__title strong {
    color: #3B4BDD
}

.intro__title b>span,.intro__title strong>span {
    padding-left: 168rem
}

@media (max-width: 1500px) {
    .intro__title b>span,.intro__title strong>span {
        padding-left:127rem
    }
}

@media (max-width: 480px) {
    .intro__title b>span,.intro__title strong>span {
        padding-left:80rem
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .intro__title b>span,.intro__title strong>span {
        padding-left:88rem
    }
}

.intro__title .char {
    line-height: 1.15
}

.intro__title .word {
    margin-bottom: -30rem
}

@media (max-width: 1500px) {
    .intro__title .word {
        margin-bottom:-15rem
    }
}
[data-animation="fade"],[data-animation="fadeCustom"] {
    will-change: transform, opacity;
    // opacity: 0
}
[data-animation="fade"].fade-bt,[data-animation="fadeCustom"].fade-bt {
    -webkit-transform: translateY(30rem);
    transform: translateY(30rem)
}
.title-160,.intro__title {
    font-size: 10rem;
    line-height: 11rem;
}

@media (max-width: 1500px) {
    .title-160,.intro__title {
        font-size: 10rem;
        line-height: 11rem;
    }
}

@media (max-width: 900px) {
    .title-160,.intro__title {
        font-size: 10rem;
        line-height: 11rem;
    }
}

@media (max-width: 480px) {
    .title-160,.intro__title {
        font-size: 3rem;
        line-height: 2rem;
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .title-160,.intro__title {
        font-size: 10rem;
        line-height: 11rem;
    }
}
.intro__content {
    max-width: 253rem;
    padding-top: 5rem;
    font-size: medium;
    font-weight: 500;
}

@media (max-width: 480px) {
    .intro__content {
        max-width:100rem;
        margin-left: auto
    }
}
.video__text {
    max-width: 223rem;
    right: 252rem;
    position: absolute;
    top: 100rem;
    z-index: 2
}

@media (max-width: 1500px) {
    .video__text {
        right:208rem;
        top: 38rem
    }
}

@media (max-width: 1100px) {
    .video__text {
        right:140rem
    }
}

@media (max-width: 480px) {
    .video__text {
        right:38rem;
        top: 150rem
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .video__text {
        right:38rem;
        top: 100rem
    }
}
.js-intro-hide {
    visibility: hidden;
    opacity: 0;
}
.toadVideo__top-text {
    position: fixed;
    max-width: 253rem;
    right: 6rem;
    top: 7rem;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    font-size: medium;
    font-weight: 600;
}

@media (max-width: 1500px) {
    .toadVideo__top-text {
        right:6rem;
        top: 7rem
    }
}

@media (max-width: 1100px) {
    .toadVideo__top-text {
        right:5rem
    }
}

@media (max-width: 480px) {
    .toadVideo__top-text {
        right:initial;
        left: 38rem;
        top: 7rem;
        display: none
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .toadVideo__top-text {
        right:5rem;
        top: 7rem;
        display: none
    }
}
.scroll-to {
    -webkit-transition: background-color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),opacity 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),fill 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),stroke 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),border-color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background-color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),opacity 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),fill 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),stroke 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),border-color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.scroll-to {
    width: 20rem;
    height: 20rem;
    position: absolute;
    right: 5rem;
    bottom: 5vh
}

@media (max-width: 1500px) {
    .scroll-to {
        right:10rem
    }
}

@media (max-width: 1100px) {
    .scroll-to {
        right:5rem
    }
}

@media (max-width: 480px) {
    .scroll-to {
        display:none
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .scroll-to {
        display:none
    }
}

.scroll-to__inner {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0.15);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    cursor: pointer
}

.scroll-to__inner:hover {
    background-color: #3B4BDD;
    color: #fff
}

.scroll-to__text {
    width: 90rem
}

@media (max-width: 900px) {
    .scroll-to__text {
        width:80%
    }
}

//services comp
.toadServices {
    z-index: 20;
    padding: 3rem;
}
.toadServices__wrapper {
    max-width: 1086rem;
    margin-left: 20rem;
    margin-right: 20rem;
    gap: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr
}

@media (max-width: 480px) {
    .toadServices__wrapper {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .toadServices__wrapper {
        grid-template-columns:1fr 1fr;
        display: grid
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .toadServices__wrapper {
        -webkit-box-align:start;
        -ms-flex-align: start;
        align-items: flex-start
    }
}
.serviceBox {
    margin-bottom: 0rem;
    max-width: 388rem
}

@media (max-width: 480px) {
    .serviceBox {
        margin-bottom:2rem
    }
}
.toadService__title {
    font-size: 7rem;
    font-weight: bold;
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.serviceBox__number {
    color: #fff;
    margin-bottom: 2rem;
    font-size: large;
}

.serviceBox__title {
    color: #fff;
    margin-bottom: 4rem;
    font-size: xx-large;

}

.serviceBox__text {
    margin-bottom: 2rem;
    font-size: medium;
    -webkit-transition: background-color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),opacity 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),fill 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),stroke 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),border-color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background-color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),opacity 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),fill 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),stroke 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),border-color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.plus-more {
    width: 4rem;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.plus-more svg {
    width: 4rem;
    height: 4rem
}

.plus-more:hover {
    fill: #fff
}

.showcases__btn__link,.showcases__btn__link svg {
    -webkit-transition: background-color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),opacity 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),fill 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),stroke 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),border-color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background-color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),opacity 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),fill 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),stroke 1.8s cubic-bezier(0.075, 0.82, 0.165, 1),border-color 1.8s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.showcases__inner {
    padding-bottom: 10rem
}

@media (max-width: 480px) {
    .showcases__inner {
        padding-bottom:5rem
    }
}

.showcases__btn {
    position: relative;
    z-index: 10
}

@media (max-width: 1100px) {
    .showcases__btn {
        margin-top:6rem
    }
}

@media (max-width: 480px) {
    .showcases__btn {
        margin-top:6rem
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .showcases__btn {
        margin-top:20rem
    }
}

.showcases__btn__link {
    width: 10rem;
    height: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #3B4BDD;
    border-radius: 50%;
    margin: 0 auto
}

.showcases__btn__link:hover {
    background-color: #fff
}

.showcases__btn__link:hover svg {
    stroke: #1D1D1D
}

.showcases__btn__link svg {
    width: 6rem;
    height: 6rem;
    stroke: #fff
}

.showcases__title {
    color: #fff;
    max-width: 40rem;
    padding-top: 30rem;
    font-size: 7rem;
    font-weight: 700;
}

@media (max-width: 1100px) {
    .showcases__title {
        padding-top:10rem
    }
}

@media (max-width: 480px) {
    .showcases__title {
        padding-top:10rem;
        max-width: 350rem
    }
}

.showcases__wrapper {
    max-width: 1222rem;
    margin-left: 22rem;
}

@media (max-width: 480px) {
    .showcases__wrapper {
        padding-top:5rem
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .showcases__wrapper {
        padding-top:10rem
    }
}

.showcases__wrapper__inner {
    max-width: 1066rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem
}

@media (max-width: 480px) {
    .showcases__wrapper__inner {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .showcases__wrapper__inner {
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 8rem
    }
}

.showcases__wrapper__column {
    max-width: 489rem
}

@media (max-width: 480px) {
    .showcases__wrapper__column {
        margin-top:0;
        width: 411rem
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .showcases__wrapper__column {
        max-width:489rem;
        width: 100%
    }
}

.showcases__wrapper__column:nth-child(2) {
    margin-top: 18rem
}

@media (max-width: 480px) {
    .showcases__wrapper__column:nth-child(2) {
        margin-top:0;
        width: 411rem
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .showcases__wrapper__column:nth-child(2) {
        max-width:489rem;
        width: 100%;
        margin-bottom: -18rem
    }
}

.showcase-box {
    margin-bottom: 14rem
}

@media (max-width: 480px) {
    .showcase-box {
        margin-bottom:3rem
    }
}

@media (orientation: landscape) and (min-width: 451px) and (max-width: 925px) {
    .showcase-box {
        margin-bottom:9rem
    }
}

.showcase-box:last-child {
    margin-bottom: 0
}

@media (max-width: 480px) {
    .showcase-box:last-child {
        margin-bottom:3rem
    }
}

.showcase-box:hover .showcase-box__info,.showcase-box:hover .showcase-box__info__title,.showcase-box:hover .showcase-box__info__text {
    opacity: 1;
    visibility: visible
}

.showcase-box:hover .showcase-box__info__title,.showcase-box:hover .showcase-box__info__text {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.showcase-box:hover .showcase-box__info__text {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s
}

.showcase-box__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    z-index: 10;
    -webkit-transition: all 477ms ease-in-out;
    transition: all 477ms ease-in-out
}

@media (max-width: 1100px) {
    .showcase-box__info {
        visibility:visible;
        opacity: 1
    }
}

.showcase-box__info__title {
    color: #fff;
    margin-bottom: 10rem;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s
}

.showcase-box__info__title,.showcase-box__info__text {
    -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: translateY(10rem);
    transform: translateY(10rem)
}

@media (max-width: 1100px) {
    .showcase-box__info__title,.showcase-box__info__text {
        visibility:visible;
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.showcase-box__info__inner {
    z-index: 1;
    padding: 10rem 10rem 2rem 10rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.showcase-box__info__text {
    color: #fff;
    -webkit-transition-delay: 0;
    transition-delay: 0
}

.showcase-box__info__overlay {
    background-color: #1D1D1D;
    opacity: 0.3
}
.col-10 {
    max-width: 1365rem
}

.col {
    margin: 0 auto
}
.showcases__header {
    position: sticky;
    top:0;
}
.blue-switcher .intro__title b,.blue-switcher .intro__title strong {
    color: #fff
}

.blue-switcher .nav-icon {
    fill: #fff
}

.blue-switcher .lets-talk {
    color: #000;
    background-color: #fff
}

.blue-switcher .scroll-limit__wrapper__line {
    background-color: #fff
}

.blue-switcher .arrow-down svg {
    stroke: #fff
}

.blue-switcher .vertical-titles__label {
    color: #fff
}

.black-switcher .s-box__text {
    color: #D9D9D9
}

.black-switcher .plus-more {
    fill: #D9D9D9
}

.black-switcher .plus-more:hover {
    fill: #3B4BDD
}

.black-switcher .nav-icon,.black-switcher .logo-svg {
    fill: #D9D9D9
}

.black-switcher .scroll-limit__wrapper__line {
    background-color: #D9D9D9
}

.black-switcher .arrow-down svg {
    stroke: #D9D9D9
}

.black-switcher .vertical-titles__label {
    color: #D9D9D9
}


//About Page
.mainContainer.About {
    overflow: hidden;
} 
.flexRow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin: 4em auto;
}
.header__title {
    font-size: 14rem;
    font-weight: bold;
    width: 100%;
}
.lottie_wrapper {
    width: 100%;
}
.header_container {
    padding: 4rem;
}
.spacer {
    height: 1px;
    background: rgb(128 128 128 / 44%);
}
.paddingTop {
    padding-top: 3rem;
}
.headerTitle {
    width: 25%;
    font-size: 4rem;
}
.headerTitle__underline {
    height: 2px;
    width: 4em;
    background: rgb(128 128 128 / 44%);
    margin-bottom: 2rem;
}
.full-width-section {
    padding: 5vh 0;
    width: 100%;
}
.headerContent__wrapper {
    width: 60%;
}
.headerContent__wrapper.bmi {
    width: 70%;
}
.headerContent__wrapper p {
    font-size: medium;
}
figcaption {
    font-size: small;
}

.gallery-wrap {
    background-color: rgb(62, 79, 232);
    margin-left: -5vw;
    margin-right: -5vw;
  }
  
  .gallery-counter {
    position: absolute;
    top: 10%;
    left: 100px;
    z-index: 1;
    mix-blend-mode: difference;
    line-height: 16px;
    color: #dbd8d6;
  
    font-weight: bold;
  
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
  
    .divider {
      content: "";
      background-color: white;
      width: 6.25vw;
      margin: 7px 10px;
      height: 1px;
      display: inline-block;
    }
  }
  .gallery-counter h2 {
      font-size: 6vh;
      font-weight: bold;
  }
  .gallery {
      
    height: 100vh;
  
    padding: 9vh 0;
    width: 400%;
    display: flex;
    flex-wrap: nowrap;
  
    .gallery-item {
        width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
      will-change: transform;
    }
  
    .gallery-item-info {
      
      transform: translateX(-20%);
      width: 50%;
      .gallery-info-title {
        line-height: 5vw;
        font-weight: bold;
        color: #fff;
        font-size: 4vw;
        -webkit-font-smoothing: antialiased;
      }
  
      .gallery-info-subtitle {
        position: relative;
        line-height: 6vw;
        color: transparent;
        font-weight: 400;
        font-size: 6vw;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke: 2px #dbd8d6;
      }
  
      .gallery-info-category {
          color: #000;
        position: relative;
        line-height: 24px;
        font-weight: 400;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        margin-top: 2vh;
      }
    }
    .gallery-item-wrapper {
      aspect-ratio: 16/9;
      height: 100%;
      display: grid;
      grid-template-columns: 20vw 1fr 200px;
      width: 100vw;
  
      &.is-reveal {
        .gallery-item-image {
          transform: scale(1);
          filter: none;
        }
      }
    }
    .gallery-item-image {
      background-size: cover;
      background-position: center;
      transform-origin: center;
      width: 100%;
      height: 60%;
      will-change: transform;
      transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);
    }
  }

  .headerTitle.bmi {
    width: 50%;
    font-size: 4rem;
    font-weight: 700;
  }
  label {
    text-align: left;
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
  }
  .headerImg {
      width: 50%;
  }